body {
  font-family: Arial;
}
.greeting {
  margin: 1rem;
  cursor: pointer;
}

.greetingContainer {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid lightgray;
  max-width: 30rem;
}
.hidden {
  display: none;
}
