body {
  font-family: Arial;
}
.greeting {
  margin: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  padding: 1rem;
  border-radius: 5px;
  background-color: #0671d2;
  border: black;
  color: #fff;
  font-weight: 600;
}
.greeting:hover {
  box-shadow: none;
  color: midnightblue;
  background-color: lightgray;
}
.greeting:focus {
  outline: none;
}
.greetingContainer {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #0671d2;
  max-width: 30rem;
  border-radius: 12px;
  background-color: #c4d8ea;
}
.hidden {
  display: none;
}
