body {
  font-family: Arial;
}
.greeting {
  margin: 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px black;
}
.greeting:hover {
  box-shadow: none;
}

.greetingContainer {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid lightgray;
  max-width: 30rem;
}
.hidden {
  display: none;
}
